body {
	font-size: 14px;
	line-height: 1.4;
	font-family: Interstate,'Liberation Sans',Helvetica,Arial,sans-serif;
	background: rgb(255, 255, 255);
}
h2 {
  font-weight: bold;
  font-style: underline;
  font-size: 30px;
}

.groups {
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}

.groupTiles {
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  display: table;
  width: 98%;
}

.tile {
  height: 25px;
  width: 260px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  float: left;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

/* Status OK */
.state0 {
  background-color: lightgreen;
}

/* Status WARNING */
.state1 {
  background-color: yellow;
}

/* Status CRITICAL */
.state2 {
  background-color: red;
}

/* State UNKNOWN */
.state3 {
  background-color: orange;
}

/* State Not-Monitored */
.state99 {
  background-color: lightgrey;
}

.mainTable {
  border: 0px;
  width: 100%;
  height: 100%;
}

.topRow {
  height: 50px;
}

.serviceRow {
  height: 20px;
  text-align: right;
}

.mainRow {
  vertical-align: top;
}

.bottomRow {
  height: 20px;
  background-color: #333333;
  position: absolute; 
  bottom: 1px;
}


div#bps {
  position: absolute; 
  left: 10px; 
  width: 100%;
}

div#details {
  position: absolute; 
  right: 10px; 
  width: 1px;
}

.overlayBG {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: lightgrey;
}

.errorPopup {
  position: relative;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 120px;
  background: #ffffff;
  text-align: center;
}

.closePopup {
  border: 1px solid;
  cursor: pointer;
}
