html, body {
	font-size: 14px;
	line-height: 1.4;
	font-family: Interstate,'Liberation Sans',Helvetica,Arial,sans-serif;
	background: white;
	height 100%;
}
body {
  margin: 0;
  padding: 0;
}
#wrapper {
  height: 100%;
  position: relative;
}
html #wrapper {
  height: 100%;
}
.environment {
  padding-top: 25px;
  font-size: 24px;
}

.groups {
  font-weight: bold;
  font-size: 16px;
  line-height: 0.8;
}

.groupTiles {
  padding: 6px;
  margin: 10px 0px 20px 10px;
  border-radius: 4px;
  border: 1px solid black;
  overflow: hidden;
  display: table;
  width: 98%;
}

.tile {
  height: 11px;
  min-width: 60px;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid black;
  float: left;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  box-shadow: rgb(102, 102, 102) 0px 3px 3px;
  line-height: 0.8;
}

/* Status OK */
.state0 {
  background-color: #14FF14;
}

/* Status WARNING */
.state1 {
  background-color: yellow;
}

/* Status CRITICAL */
.state2 {
  background-color: #FF1414;
  color: white;
  font-weight:bold;
  
}

/* State UNKNOWN */
.state3 {
  background-color: orange;
}

/* State Not-Monitored */
.state99 {
  background-color: lightgrey;
}

#topContainer {
  padding-bottom: 55px;
}

.main {
  margin-top: 1px;
}

#footer {
  height: 25px;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 12px;
/*  position: absolute; */
  bottom: 0;
  left: 10px;
  width: 100%;
}

.bps, .details {
  margin-left: 10px;
  margin-right: 10px;
}

.bps {
  width: 66%;
}

.details {
/*  float: left; */
  width: 33%;
}

p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.overlayBG {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: lightgrey;
}

.errorPopup {
  position: relative;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 120px;
  background: #ffffff;
  text-align: center;
}

.closePopup {
  border: 1px solid;
  cursor: pointer;
}
