ndo=db
# ndo=merlin
# ndo=fs
# ndo=mk_livestatus
# ndo=icinga-web

ndo_livestatus_socket=/var/spool/icinga/cmd/live

ndodb_host=
ndodb_port=3306
ndodb_database=icinga
ndodb_username=icinga
ndodb_password=
ndodb_prefix=icinga_

cache_time=30
cache_file=/data/www/bpview/var/cache/ndo_backend_cache
