policy_module(bpview,0.1.0)

########################################
#
# Declarations
#


require {
	type postgresql_port_t;
	type mysqld_port_t;
	type cert_t;
};


apache_content_template(bpview)


# Type for the configuration files
type bpview_config_t;
files_config_file(bpview_config_t)

allow httpd_bpview_script_t bpview_config_t:file { getattr read create_file_perms };
allow httpd_bpview_script_t bpview_config_t:dir { create_dir_perms };


# Type for log files
type bpview_log_t;
logging_log_file(bpview_log_t)

allow httpd_bpview_script_t bpview_log_t:file {create read_file_perms append_file_perms };
allow httpd_bpview_script_t bpview_log_t:dir {setattr rw_dir_perms};
logging_log_filetrans(httpd_bpview_script_t,bpview_log_t,{file dir})


# Provider connections
# MySQL/PostgreSQL
allow httpd_bpview_script_t mysqld_port_t:tcp_socket name_connect;
allow httpd_bpview_script_t postgresql_port_t:tcp_socket name_connect;
# BP-Addon API (https)
allow httpd_bpview_script_t cert_t:dir search;
allow httpd_bpview_script_t cert_t:file { read getattr open };
allow httpd_bpview_script_t cert_t:lnk_file read;


# FastCGI
allow httpd_bpview_script_t httpd_t:unix_stream_socket { ioctl accept getattr shutdown };
# also requires:
# setsebool -P allow_ypbind=on
